.row{
    margin: 1rem 2rem;
}
.custom_space{
    padding:2rem 0rem;
}
.log{
    margin:1rem;
}
.white-text{
    color:white;
}
.section{
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.096); */
    padding:2rem;
    margin:.5rem 0;
    border-radius: 10px;
}